
header h1 a {
  color: #000;
  text-decoration: none;
}


h1 {
  font-size: 1em;
  font-weight: lighter;
}

nav .top   {
  margin: 0;
  padding: 0;
  list-style: none; 
}

  nav li a {
    display: block;
    padding: 5px;
    color: #000;
    font-size: 1.2em;
    text-decoration: none;
  }

  nav li a:hover {
    background-color: rgb(210, 241, 250);
  }

  nav ul ::after {
    content: "";
    display: block;
    clear: both;
  }

  .top li {
    float: left;
    width: auto;
  }

.item1 h2 {
  margin-bottom: 10px;
  font-size: 2em;
}

@media (min-width:768px) {
  .container {
    display: flex;
  }
  
  .item1 {
    width: 50%;
  }
  
  .item2 {
    width: 50%;
  }
}

footer p {
  margin: 0%;
  
}